In [2]:
#while

a=1

while a<=100:
    print(a)
    a+=1   #a=a+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [3]:
#list
list_=[1,2,3,"sina",True,5.6]
print(type(list_))

<class 'list'>

In [4]:
#index

print(list_[0])
print(list_[4])
print(list_[6])

1
True

IndexError: list index out of range

In [5]:
#len, max, min, sum

numList=[4,6,10,2,5,1,15]

print(len(numList))
print(max(numList))
print(min(numList))
print(sum(numList))

7
15
1
43

In [15]:
#mutable

a=[1,2,3,4]

print(a,id(a))

a[0]=0

print(a,id(a))

[1, 2, 3, 4] 2178151027776
[0, 2, 3, 4] 2178151027776

In [47]:
#index, start, stop

numList=[1,2,3,4,5,6,7]

print(numList[-1])
print(numList[-2])
print(numList[0:4])
print(numList[1:5])
print(numList[0:-1])
print(numList[-1:-3])    #start<stop
print(numList[3:-1])
print(numList[0:7])
print(numList[1:len(numList)])
print(numList[1:])  
print(numList[0:])
print(numList[:])

7
6
[1, 2, 3, 4]
[2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[]
[4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#step

numList=[1,2,3,4,5,6,7]

print(numList[0:7:2])    #start:stop:step
print(numList[7:0:-1])
print(numList[::-1])

[1, 3, 5, 7]
[7, 6, 5, 4, 3, 2]
[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#instructions
list_=[1,4,6,'s',7]
list_.reverse()

SyntaxError: invalid syntax (1482376004.py, line 2)

In [70]:
#append, extend, reverse, pop

list_=[1,4,6,'s',7]

print(list_)

list_.append(10)
print(list_)

list_.append("sina")
print(list_)

list_.append([1,2,3])
print(list_)

list_.extend([1,2,3])
print(list_)

list_.reverse()
print(list_)

list_.pop()
print(list_)

[1, 4, 6, 's', 7]
[1, 4, 6, 's', 7, 10]
[1, 4, 6, 's', 7, 10, 'sina']
[1, 4, 6, 's', 7, 10, 'sina', [1, 2, 3]]
[1, 4, 6, 's', 7, 10, 'sina', [1, 2, 3], 1, 2, 3]
[3, 2, 1, [1, 2, 3], 'sina', 10, 7, 's', 6, 4, 1]
[3, 2, 1, [1, 2, 3], 'sina', 10, 7, 's', 6, 4]

In [ ]:
#len(list_)
#list_.reverse()
#+,-,=

In [73]:
#+
list_=[1,4,6,'s',7]
names = ["sina","hossein","ali"]

print(list_ + names)

[1, 4, 6, 's', 7, 'sina', 'hossein', 'ali']

In [13]:
#average

grades=[17,19,14.75,12.50]

avg = sum(grades) / len(grades)

print(avg)

15.8125

In [16]:
#data instruction

inst(data)     #function

data.inst()    #oop
data +,<,>,=   #oop

SyntaxError: invalid syntax (1182102092.py, line 6)

In [20]:
name = "Sina"

print(name[0])
print(name[0:3])

# list is mutable
# string is immutable

S
Sin

In [31]:
#str in immutable

name = "SINA"
nameCopy = name.lower()
print(nameCopy,name)
#name[0]="b"

sina SINA

In [ ]:
#list is mutable
a=[1,2,10]
b=a
a[0]=12
print(b)

[12, 2, 10]

In [ ]:
#str in immutable

name = "SINA"
temp=name

name=name.lower()

print(name,temp)

sina SINA

In [37]:
#str to list

name = "SINA"
lname=list(name)
print(lname)
print(list(name[1:4]))

['S', 'I', 'N', 'A']
['I', 'N', 'A']

In [39]:
#split()

name="Sina     Zouban"
lname=name.split()
print(list(name),lname)

['S', 'i', 'n', 'a', ' ', ' ', ' ', ' ', ' ', 'Z', 'o', 'u', 'b', 'a', 'n'] ['Sina', 'Zouban']

In [44]:
#replace

a="asfehsr"

#a[0]='b' wrong

b=a.replace('a','b')
print(b)

bsfehsr

In [46]:
#join

name="sina"
a="---"
res=a.join(name)
print(res)

s---i---n---a

In [48]:
#for

list_=[2,5,14]

for item in list_:
    print(item)

2
5
14

In [50]:
list_=[1,4,7,2,3]

total=0

for item in list_:
    total+=item    #total=total+item

print(total)

17

In [54]:
list_ = [1,4,5,2,8,23,14,17,84]

for a in list_:
    if a%2==0:
        print(a)

4
2
8
14
84

In [55]:
a="s"
while a!="i":
    #ins

SyntaxError: incomplete input (111185142.py, line 3)

In [63]:
#range

for item in range(5):
    print("a")

print(list(range(5)))
print(type(range(5)))

a
a
a
a
a
[0, 1, 2, 3, 4]
<class 'range'>

In [67]:
for item in range(2, 5):
    print(item)

print(list(range(2, 5)))

2
3
4
[2, 3, 4]

In [69]:
for item in range (2, 9, 2):
    print(item)

2
4
6
8

In [71]:
for item in range(1,101):
    print(item)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100