In [ ]:
#lcomp

#option 1
list_=[]
for i in range(1,5):
    row=[]
    for j in range(1,5):
        row.append(i+j)
    list_.append(row)
print(list_)


#option 2
lcomp=[[i+j for j in range(1,5)] for i in range(1,5)]
print(lcomp)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [2]:
#function

#def name(parameters):
#    return output

#name(a,b,c)

#print()
#min()

In [10]:
#f-string

name="ali"
b=2.785
a=f"salam {name}"
c=f"number {b:.1f}"
print(a,c)
a="salam sina"

salam ali number 2.8

In [21]:
#tuple
t=(1, 2, 3, 'a')

def add_mult(a,b):
    return a+b, a*b, a

am=add_mult(2,3)

print(type(am))

<class 'tuple'>

In [23]:
t=(1,2,3)
t[1]

2

In [25]:
x=12
y=5

x,y=y,x
print(x,y)

5 12

In [ ]:
t=1,2,3,'a'
print(type(t))

<class 'tuple'>

In [33]:
#dict

person = {
    "name": "Sina",
    "age": 23,
    "height": 180,
    "gender": "male"
}

print(type(person))

print(person)

name = person["name"]
print(name)
print(person["age"])

<class 'dict'>
{'name': 'Sina', 'age': 23, 'height': 180, 'gender': 'male'}
Sina
23

In [42]:
cities = dict(city1="Tehran", city2="esfahan", num=31)

cities["city2"] = "Shiraz"
print(cities["city2"])    #mutable
print(cities)

Shiraz
{'city1': 'Tehran', 'city2': 'Shiraz', 'num': 31}

In [1]:
#keys, values

print(cities.keys())
print(cities.values())

for item in cities.values():
    print(item)

NameError: name 'cities' is not defined

In [3]:
#update
cities={
    "city1": "Tehran",
    "city2": "Isfahan",
    "num": 31
}

cities["city2"] = "Shiraz"

cities.update({"city1": "Isfahan", "num": 32, "city3": "Tabriz"})
print(cities)

{'city1': 'Isfahan', 'city2': 'Shiraz', 'num': 32, 'city3': 'Tabriz'}

In [7]:
#dict and for

cities={
    "city1": "Tehran",
    "city2": "Isfahan",
    "num": 31
}


for key in cities.keys():
    print(key)

print("------------------------------")

for value in cities.values():
    print(value)

print("------------------------------")

for key, value in cities.items():
    print(f"{key}={value}")

city1
city2
num
------------------------------
Tehran
Isfahan
31
------------------------------
city1=Tehran
city2=Isfahan
num=31

In [10]:
#Argument

def student_info(name, age=18, city="Tehran"):
    return f"name={name}, age={age}, city={city}"

print(student_info("Alireza", 17))

print("------------------------------")

print(student_info("Ali", 18, "Shiraz"))

print("------------------------------")

print(student_info("mohsen"))

print("------------------------------")

print(student_info(city="Yazd", name="Ali", age=16))

name=Alireza, age=17, city=Tehran
------------------------------
name=Ali, age=18, city=Shiraz
------------------------------
name=mohsen, age=18, city=Tehran
------------------------------
name=Ali, age=16, city=Yazd

In [11]:
#args

def student_info(name, age=18, city="Tehran"):
    return f"name={name}, age={age}, city={city}"

s1=("Reza", 20, "Karaj")
print(student_info(s1[0], s1[1], s1[2]))
print(student_info(*s1))

name=Reza, age=20, city=Karaj
name=Reza, age=20, city=Karaj

In [13]:
#kwargs

def student_info(name, age=18, city="Tehran"):
    return f"name={name}, age={age}, city={city}"

s1 = {"name": "Reza", "age": 20, "city": "Karaj"}
print(student_info(s1["name"], s1["age"], s1["city"]))
print(student_info(**s1))

name=Reza, age=20, city=Karaj
name=Reza, age=20, city=Karaj

In [14]:
#args

def student_info(name, *args):
    sum_ = sum(args)
    return f"name={name}, avg={sum_/len(args)}"



print(student_info("Mohammad", 14, 15, 19, 12, 20))

name=Mohammad, avg=16.0

In [16]:
#kwargs

def student_info(name, **kwargs):
    print(name)
    for key, value in kwargs.items():
        print(f"{key}={value}")


s1 = student_info("Ahmad", age=19, city="Bandar abbas")

print(s1)

Ahmad
age=19
city=Bandar abbas
None

In [17]:
#positional and keyword

def power(a, b):
    return a**b

print(power(2,3))       #positional
print(power(3,2))       #positional

print("------------------------------")

print(power(a=2,b=3))       #keyword
print(power(b=3, a=2))      #keyword

8
9
------------------------------
8
8